<!--NEW FOOTER-->
<html>
  <body>
<span>
  <footer>
    <span>
      <br>
      <br>
    <div class="row">
      <div class="col-6 col-md" style="text-align: center;">
        <h5>&copy; Gyroscopic 2022</h5>
      </div>
    </div>
    </span>
  </footer>
  </span>
  </body>
  </html>
  
  <!--OLD FOOTER
  
  <footer class="footer bg-dark py-3 mt-auto">
    <div class="container footeredit">
      <span class="text-muted">&copy Gyroscopics 2022</span>
    </div>
  </footer>-->
  