<!--Footer-->
<div id="footer" class="footerLogin d-flex flex-column    py-4 px-4 px-xl-5">
  <!-- Copyright -->      
  <p class="text-center fw-bold mx-3 mb-0" style="color: #E66F25;">© Gyroscopic 2022</p>
  <!-- Copyright -->
</div>
  