<!-- NEW NAV BAR-->
<!-- <nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" href="#">
<strong>Gyroscopic</strong>    </a>
    <a class="py-2 d-none d-md-inline-block" href="/boards">All Boards</a>
    <a class="py-2 d-none d-md-inline-block" href="/boards/new">New Board</a>
 
    <a class="py-2 d-none d-md-inline-block " href="/login">Login</a>
    <a class="py-2 d-none d-md-inline-block " href="/signup">Signup</a>
    <a class="py-2 d-none d-md-inline-block " href="/logout">Logout</a>

  </div>
</nav> -->



<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: #E66F25" href="/home">Gyroscopic</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/home">Home</a>
        <a class="nav-link" href="/boards">Boards</a>
        <a class="nav-link" href="/boards/new">New Board</a>
        <div class="ml-auto navbar-nav">
          <% if(!currentUser) {%>
          <a class="nav-link" href="/login">Login</a>
          <a class="nav-link" href="/signup">Signup</a>
          <% } else {%>            
          <a class="nav-link" href="#">Hi <%=currentUser.username%></a>
          <a class="nav-link" href="/logout">Logout</a>          
          <% } %>
        </div>
      </div>

   
    </div>
  </div>
</nav> 
