<body>
<!-- NEW NAV BAR-->
<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" href="/home">
      <strong>Gyroscopic</strong> 
    </a>
    <a class="py-2 d-none d-md-inline-block" href="/home">Home</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Account</a>
    <a class="py-2 d-none d-md-inline-block" href="/boards">My Boards</a>
    <a class="py-2 d-none d-md-inline-block" href="/boards/new">Create Board</a>
    <a class="py-2 d-none d-md-inline-block" href="/logout">Logout</a>
  </div>
</nav>
</body>



<!-- OLD NAV BAR
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Gyroscopic</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/boards">Boards</a>
        <a class="nav-link" href="/boards/new">New Board</a>
        <a class="nav-link disabled">Disabled</a>
      </div>
    </div>
  </div>
</nav>-->
