<% layout('layouts/boilerplate') %>
<h1 class="board-title">Edit Team</h1>
<form action="/teams/<%=team._id%>?_method=PUT" method="POST" class="validated-form" novalidate>
    <div>
        <label for="name" class="form-label">Name</label>
        <input type="text" id="name" class="form-control" name="team[name]" value="<%=team.name%>" required />
    </div>
    <br />
    <div>
        <label for="description" class="form-label">Description</label>
        <input
                type="text"
                id="description"
                name="team[description]"
                class="form-control"
                value="<%=team.description%>"
        />
    </div>
    <br />
    <div style="display: flex; justify-content: center">
        <button class="btn btn-success">Update Team</button>                   
    </div>
    <br />
    <div style="display: flex; justify-content: center">
        <a href="/teams/<%=team._id%> " class="btn btn-success">&lt&lt Back to Team</a>                   
    </div>    
</form>
<script>
    // Disable form submission if there are invalid fields
    (function () {
        "use strict";

        // Fetch the form to be validated
        const form = document.querySelector(".validated-form");

        // Prevent submission
        form.addEventListener(
            "submit",
            function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add("was-validated");
            },
            false
        );
    })();
</script>
