<% layout('layouts/boilerplate') %>
<h1 class="board-title">My Teams</h1>
<div class="new-team_button">
    <a href="/teams/new"><button type="button" class="newBoardbtn btn btn-outline-success">+ Create New Team</button></a>
</div>

<div class="teams-container row">
    <% let teamCount = 0;
    for(let team of teams) {
    teamCount++; %>
        <div class="card team" style="width: 18rem">
            <div class="card-body">
                <h5 class="card-title"><%= team.name %></h5>
                <p class="card-text"><%= team.description %></p>
                <a href="/teams/<%=team._id%>"><button type="button" class="btn btn-primary btn-sm">View</button></a>
            </div>
        </div>
    <% }
    // If the user is not a member of any teams exist
    if(teamCount === 0) { %>
            <h3> No teams yet </h3>
        <% } %>
</div>
