<% layout('layouts/boilerplate') %>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Gyroscopic</title>

    <!-- Bootstrap core CSS -->
    <link href="/views/bootstrap.min.css" rel="stylesheet">
    <!--<link href="/public/css/newBoard.css" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <link href="/views/product.css" rel="stylesheet">
  </head>
  <body>
      <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-lite">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Gyroscopic Project Manager</h1>
        <p class="lead font-weight-normal">An open source tool used to help orchestrate your sprint retrospectives.</p>
        <p class="lead font-weight-normal">Created By: Jared Corman, Tharmarajah Saranyan, Mohammed Ayaan Shirazi and Steven Nash</p>
        <a class=" btn btn-outline-secondary" style="color: white; margin-left: 20px;" href="/boards/">Test it out!</a>
      </div>
      <div class="product-device box-shadow d-none d-md-block"></div>
      <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-orange mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Create a board with your team</h2>
          <p class="lead">Create boards that will help you keep track of yours and your teams progress.</p>
          <img src="/img/Animation1.gif" width="500" height="300" frameBorder="0" class="giphy-embed" allowFullScreen></img>
        </div>
        <!--<div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>-->
      </div>
      <div class="bg-lite mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">Invite Friends and teammates</h2>
          <p class="lead">Send invites to your collegues and teammates to your boards to work as a team.</p>
          <img src="/img/Animation3.gif" width="500" height="300" frameBorder="0" class="giphy-embed" allowFullScreen></img>
        </div>
        <!--<div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>-->
      </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-lite mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">Customize your board</h2>
          <p class="lead">Make endless customizations to your boards as you progress further towards your goals.</p>
          <img src="/img/Animation2.gif" width="500" height="300" frameBorder="0" class="giphy-embed" allowFullScreen></img>

        </div>
        <!--<div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>-->
      </div>
      
      <div class="bg-orange mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">An interactive experience</h2>
          <p class="lead">Make the most out of your boards with an interactive experience with your teammates.<p>
          <img src="/img/Animation4.gif" width="500" height="300" frameBorder="0" class="giphy-embed" allowFullScreen></img>

        </div>
        <!--<div class="bg-light box-shadow mx-auto" style="background-color: #E66F25;width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>-->
      </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-lite mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">Get updates in real time!</h2>
          <p class="lead">All activities and changes made on boards get reflected in real time.</p>
        </div>
        <!--<div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>-->
      </div>
    </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
    <script src="../../../../assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  </body>
</html>
