<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gyroscopic - Signup</title>
  </head>
  <body>
    <h1> Sign Up </h1>
    <form id="signup-form" action="/signup" method="POST">
      <fieldset>
        <div>
          <label for="email">Email</label>
          <input type="email" name="email" id="email" placeholder="example@trentu.ca" required />
          <% if(error == "email") { %>
          <span class="error hidden">That email address already in use.</span>
          <% } %>
        </div>
        <div>
          <label for="username">Username</label>
          <input type="text" name="username" id="username" placeholder="username" pattern=".{3,15}" required title="Must be between 3 and 15 characters long"/>
          <% if(error == "username") { %>
            <span class="error hidden">That username already in use.</span>
            <% } %>
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" name="password" id="password" placeholder="************" pattern=".{6,15}" required title="Must be 6 to 15 characters long"/>
        </div>
      </fieldset>
      <button id="submit" name="submit" >Submit</button>
    </form>  
  </body>
</html>
