/* body {
  background-color: rgb(37, 156, 195);
} */
div.mycolumn {
  display: flex;
  border: 3px solid green;
}
.flex-container {
  display: flex;
  flex-direction: row;
}
.flex-container > div {
  width: 100%;
  margin: 5px;
  padding: 10px;
}

.hidden {
  display: none;
}

.close-column-btn{

  align-items: center;
  margin: auto;
}

.columnName{
  align-items: center;
  margin-top: 10px;
}

/* Dragging and Dropping */

.draggable {
  cursor: move;
  border-radius: 10px;
  border:none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}

.draggable.dragging {
  opacity: 0.5;
}

.card-comment {
  padding: 1em;
  /* background-color: #ff009d57; */
  height: 100%;
}

.card-text{
  margin-top: 2px;
}

.like-dislike{
  display: flex;
  justify-content: center;
  align-items: center;

}

.comment-owner-container{
  margin-right: auto;
}

.like-dislike > img {
  margin-right: 4px;
  margin-left: 6px;
  cursor: pointer;
}

.comment-owner{
  margin: 0px;
  margin-right: auto;
  color: rgb(107, 106, 106);
  font-size: 14px;
}

.likeCount{
  margin: 0px;
}

.dislikeCount{
  margin: 0px;
}
.column {
  /* background-color: rgba(0, 0, 255, 0.164); */
  border-radius: 10px;
  width: 400px;
  margin: 5px;
  display: flex;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border:none;
  background-color: rgba(238, 238, 238, 0.438);
  text-align: center;  
}

.column >.card-title{
  margin: 10px;
  font-size: 25px;
}

/*Ayaan CSS Changes*/
/*Card background colour*/
.bg-orange{
  background-color: #E66F25;
  transition: background-color ease-in-out .35s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
}
.bg-lite{
  background-color: white;
  transition: background-color ease-in-out .35s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
}
/*Card background colour change on hover*/
.bg-orange:hover{
  background-color: #343A40;
}
.bg-lite:hover{
  background-color: #343A40;
  color: white;
}

/*CSS for index.ejs*/
.board-title{
  text-align: center;
}

.boards-container{
  display: flex;
  justify-content: center;
}
.new-board_button{
  height: 3rem;
  display: flex;
  flex-direction: row-reverse;
}
.board-title{
  margin-top: 2%;
}
.newBoardbtn{
  color: #fff;
}

/*CSS for new.ejs*/
#addColumn{
 margin-left: auto;
  margin-bottom: 10px;
}
.center-block{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*#allBoard{
  margin-left: auto;
}
#addBoard{
  margin-left: 45%;
  margin-top: 15px;
  margin-bottom: 15px;
}*/

/*Login Page CSS*/
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
.btn:hover{
  background-color: #343A40;
  border-color: #343A40;
}
.btn{
  background-color: #E66F25;
  border-color: #E66F25;
  margin-left: 160px;
}
.loginLink{
  margin-left: 100px;
}
.link-danger{
  color: #E66F25;
}
.footerLogin{
  text-align: center;
  background-color: #E66F25;
  
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.team{
  margin: 1rem;
}
.teams-container{
  display: flex;
  justify-content: center;
}

.new-team_button{
  display: flex;
  flex-direction: row-reverse;
}

.team-title{
  text-align: center;
}


/*Footer css
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.5rem;  //Footer height
  background-color: #343A40;
  color: white;
}*/


/*Product css*/
.container {
  max-width: 960px;  
}
/*
 * Custom translucent site header
 */

 .site-header {
  background-color: #343A40;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #E66F25;
  transition: ease-in-out color .15s;
  font-weight: .83em;
  text-decoration: none;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}


/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}



/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }



/*--------Ayaan CSS changes (end)------*/


.comment-textarea{
  margin: 12px;
  border-radius: 10px;
  max-width: 93%;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;

}

.comment-button{
  background-color: rgba(255, 115, 0, 0.712);
  width: 93%;
  margin: 12px;
  margin-left: auto;
  margin-right: auto;
}

.comment-button:hover{
  background-color: rgb(255, 115, 0);
}

.board-title{
  text-align: center;
  color: #E66F25
}

.board-description{
  text-align: center;
}

.board-owner{
  text-align: center;
  margin: 0px;
}

.board-date{
  text-align: center;
  font-size: 13px;
  margin: 0px;
  margin-bottom: 5px;

}

.all-buttons{
  display: flex;
  padding: 1em;
}

.all-buttons *{
  margin: 3px;
}


/* Index page styling */

.new-board_button{
  text-align: center;  
}

/* Float four columns side by side */
.board {
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.board:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.boards-container .card-title{
  color: #E66F25;
}

.delete-comment{
  display: flex;
  justify-content: flex-end;
}

.remove-comment{
  cursor: pointer;
}