<% layout('layouts/boilerplate') %>
<html>
<body>
    
<div class="row">
  <h1 class="text-center"></h1>
  <div class="col-6 offset-3">
    <form action="/boards" method="POST" novalidate class="validated-form">
      <!-- Name of the board -->
      <div class="mb-3">
        <label class="form-label" for="name">Name</label>
        <input
          class="form-control"
          type="text"
          id="name"
          name="board[name]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <!-- Description of the board -->
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="board[description]"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <!-- Default or Custom made columns -->
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          id="default"
          name="board[columntype]"
          value="default"
          required
        />
        <label class="form-check-label" for="default">Default</label><br />
      </div>

      <div class="form-check mb-4">
        <input
          class="form-check-input"
          type="radio"
          id="custom"
          name="board[columntype]"
          value="custom"
          required
        />
        <label class="form-check-label" for="custom">Custom</label><br />
      </div>

      <!-- Button to add columns for custom made columns -->
      <div id="columnselect" class="form-group hidden">
        <button id="addColumn" type="button" class="btn btn-success">
         + Add Column
        </button>

        <!-- Three default Columns -->
        <div class="container" id="add-column-container">
          <div class="column">
            <input
              type="text"
              class="columnName form-control mb-2"
              name="column[column_1]"
              placeholder="Enter the column name"
              value="Went Well"
            />
            <button
              type="button"
              class="btn-close close-column-btn"
              aria-label="Close"
            ></button>
          </div>

          <div class="column">
            <input
              type="text"
              class="columnName form-control mb-2"
              name="column[column_2]"
              placeholder="Enter the column name"
              value="To Improve"
            />
            <button
              type="button"
              class="btn-close close-column-btn"
              aria-label="Close"
            ></button>
          </div>

          <div class="column">
            <input
              type="text"
              class="columnName form-control mb-2"
              name="column[column_3]"
              placeholder="Enter the column name"
              value="Actions"
            />
            <button
              type="button"
              class="btn-close close-column-btn"
              aria-label="Close"
            ></button>
          </div>
        </div>
      </div>

      <!-- Dropdown to select team -->
      <div class="mb-3">
        <label class="form-label" for="team">Team:</label>
        <select class="form-control" name="board[team]" id="team">
          <!-- Default of no team -->
          <option value="none" id="default">None</option>

          <!-- Populate with the user's teams -->
          <% for(let team of teams) { %>
            <!-- Check if user is a member of the team -->
            <% if(team.members.includes(currentUser._id)) { %>
                <option value="<%=team._id%>" id="<%= team.name %>"><%= team.name %></option>
            <% } %>
          <% } %>
        </select>
      </div>

      <!-- Submit the form (Board) -->
      <div class="mb-3">
        <button id="addBoard" class="btn btn-success">Add Board</button>
      </div>
    </form>

    <a href="/boards" id="allBoard" class="btn btn-success">&lt&lt All Boards</a>
  </div>
</div>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    "use strict";

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll(".validated-form");

    // Loop over them and prevent submission
    Array.from(forms).forEach(function (form) {
      form.addEventListener(
        "submit",
        function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add("was-validated");
        },
        false
      );
    });
  })();
</script>

</body>
</html>
